.top{
  background-image:url(aki1.jpg);
  background-size: cover;
  background-color:rgba(255,255,255,0.3);
  background-blend-mode:lighten;
  padding-top: 100px;
  padding-bottom: 150px;
  text-align: center;

  background-color:rgb(255, 0, 0);
}

.center{
  margin:0 auto;
  width: 1000px;

  background-color:rgb(255, 255, 0);
}

.subheading{
  font-size: 20px;
  margin: 7px 0;

  background-color:rgb(255, 255, 255);
}

.borderline{
  margin-top: 20px;
  border-bottom: 1px solid rgb(170, 170, 170);

  background-color:rgb(255, 0, 255);
}

.mainback{
  text-align: center;
  background-image: url(aki2.jpg);
  background-attachment: fixed;
  background-color:rgba(255,255,255,0.3);
  background-blend-mode:lighten;
  background-size: cover;
}

.toi-center{
  background-color: #f5f5f5;
  width: 1000px;
  margin:0px auto;  
}

.q{
  border-bottom: 1px solid rgb(219, 219, 219);
  padding: 20px ,0;

  background-color:rgb(0, 0, 0);
}

.item{
  background-color: #ffff00;
  font-weight: bold ;

  background-color:rgb(0, 255, 0);
}

.toi{
  color: #ff0000;
  font-weight: bold ;

  background-color:rgb(0, 255, 255);
}

.btn{
  display:inline-block; 
  padding: 50px;

  background-color:rgb(0, 0, 255);
}
